/* Kommentar Test */
/* Navigation Bar */
.topnav {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: left;
    position: sticky;
    top: 0;

}

.topnav a {
    float: left;
    display: block;
    color: rgba(0, 255, 65, 0.7);
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1em;
}

.topnav a:hover {
    background-color: #005e24;
    color: black;
}


.topnav a.active {
    background-color: #005e24;
    color: black;
}

/* Font Import */
@font-face {
    font-family: 'Hack';
    src: url('path/to/Hack-Regular.ttf') format('truetype');
}

/* Body Styling */
body {
    font-family: 'Hack', monospace;
    margin: 1em;
    background-color: black;
    font-size: 150%;
    color: rgba(0, 255, 65, 0.7);
}

header {
    text-align: center;
    margin-bottom: 2em;
    color: rgba(0, 255, 65, 0.7);
}

h1 {
    color: rgba(0, 255, 65, 0.7);
    text-align: center;
    font-family: 'Hack', monospace;
    width: 25em;
    margin: auto;
}

div {
    box-sizing: border-box;
    width: 100%;
    background-color: #323232;
    border: 0.125em solid grey;
    padding: 1.5em;
    border-radius: 1em;
    display: inline-block;
    font-family: Hack, monospace;
    font-size: 83%;
    box-shadow: 0 0 0.83em rgba(0, 255, 65, 0.7);

}

a:hover {
    color: red;
}

/* Boxen Styling */
.div-boxen {
    margin: auto;
    border: 0.2em solid rgba(0, 255, 65, 0.7);
}

.div-boxen a {
    margin: auto;
    border: 0.25em solid rgba(0, 255, 65, 0.7);
}

/* Footer Styling */
footer {
    margin-top: 2em;
    padding: 1em;
    background-color: black;
    color: green;
    text-align: center;
    border-top: solid rgba(0, 255, 65, 0.7);
    font-size: small;
}